<p>안녕하세요 <%= @resource.email %>님!</p>

<p>누군가가 당신의 비밀번호를 바꾸기 위한 링크를 요청했습니다. 아래 링크를 통해 확인하세요</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>만약 이것을 요청하지 않았다면 이 메일을 무시하셔도 좋습니다.</p>
<p><%= @resource.email %>님의 비밀번호가 위의 링크를 통해 바뀌지 않는다면 새로히 만드십시요</p>



<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
